#event {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 0.5rem 0.7rem;
  width: 400px;
  .data {
    border: 1px solid #fff;
    padding: 0.3rem;
    font-size: 20px;
  }
  .info {
    width: 60%;
    &:last-child {
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      padding-bottom: 0.3rem;
    }
    .position {
      margin: 0.2rem;
    }
  }

  .position {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
